<div class="bar bar-header bar-positive">
    <h1 class="title">devChat</h1>
</div>
<div class="list has-header">
<label class="item item-input">
    <input type="text" placeholder="First Name" ng-model="first_name">
</label>
<label class="item item-input">
    <input type="text" placeholder="Last Name" ng-model="last_name">
</label>
<label class="item item-input">
    <input type="text" placeholder="Username" ng-model="username">
</label>
<label class="item item-input">
    <input type="password" placeholder="Password" ng-model="password">
</label>
</div>

<div class="bar bar-footer bar-positive">
    <button class="button button-full" ng-click="doSignup()">Sign up</button>
</div>